.border-box {
    width: 60vw;
    border: 2px;
    border-style: solid;
    border-color: orange;
    padding: 2em;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.row {
    margin: 1em;
    padding: 1em;
}

.form-box{
    border: 3px salmon;
    padding: 10px;

}

.post-box{
    border: 2px;
    border-style: solid;
    border-color: salmon;
    margin: auto;
    padding: 2em;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 56vw;
}
